{% extends "maker/base_modal.html" %}
{% load i18n %}

{% block title %}{% trans 'Forgot Password' %}{% endblock title %}

{% block toolbar %}
<div class="mdl-layout-spacer"></div>
<a href="/" class="rm-toolbar-item">
	<i class="material-icons mdl-list__item-icon">close</i>
</a>
{% endblock toolbar %}

{% block rm-content %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-grid--center mdl-cell mdl-cell--4-col center">
		<i class="material-icons--header">lock_outline</i>
		<h4>{% trans 'Forgot Password' %}</h4>
		<p>{% trans 'We have sent you an email with a link to reset your password.' %}</p>
	</div>
</div>
{% endblock rm-content %}

