{% extends "maker/base_modal.html" %}
{% load i18n %}

{% block title %}{% trans 'Forgot Password' %}{% endblock title %}

{% block toolbar %}
<div class="mdl-layout-spacer"></div>
<a href="/" class="rm-toolbar-item">
	<i class="material-icons mdl-list__item-icon">close</i>
</a>
{% endblock toolbar %}

{% block rm-content %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-grid--center mdl-cell mdl-cell--4-col center">
		<i class="material-icons--header">lock_outline</i>
		<h4>{% trans 'Forgot Password' %}</h4>

		<form class="rm-form mdl-grid" action="" enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{% include 'maker/form.html' %}
			<input type="submit" value="{% trans 'submit' %}"/>
		</form>
	</div>
</div>
{% endblock rm-content %}

