{% extends "maker/base_modal.html" %}
{% load i18n %}

{% block title %}{% trans 'Delete App Version' %}{% endblock %}

{% block rm-content %}
<div class="rm-form mdl-grid rm-grid--center">
	<div class="mdl-cell mdl-cell--6-col center">
		<p>
			{% blocktrans with app=object.app version=object.apk.version_name code=object.apk.version_code trimmed %}
			Are you sure you want to delete this version <strong>{{ version }}</strong> ({{ code }})
			from your app <strong>{{ app }}</strong>?
			{% endblocktrans %}
		</p>
		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" value="{% trans 'Confirm' %}"/>
		</form>
	</div>
</div>
{% endblock rm-content %}
