{% extends "maker/base_modal.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ app.name }}{% endblock title %}

{% block toolbar %}
<div class="rm-grid--full-width rm-grid--center mdl-grid">
	<div class="rm-app-toolbar mdl-cell mdl-cell--8-col">
		{% block back-button %}
		<a href="{% url 'repo' app.repo.id %}" class="rm-toolbar-action-left">
			<i class="material-icons">arrow_back</i>
		</a>
		{% endblock back-button %}
		<div>
			{% block top-buttons %}
			<span class="rm-toolbar-item">
				<!-- TODO enable after user tests
				<a href="{% url 'app_translate' app.repo.id app.id %}" class="rm-no-underline">
				-->
				{% blocktrans with count=app.get_available_languages.count trimmed %}
				Language ({{ count }})
				{% endblocktrans %}
				<!--
				</a>
				-->
				<i class="material-icons">expand_more</i>
				<!-- TODO: Make Language dropdown working
				{% trans 'None' as None %}
				{{ app.get_available_language_names|join:", "|default:None }}
				-->
			</span>
			<a href="{% url 'edit_app' app.repo.id app.id %}" class="rm-no-underline">
				<button class="rm-button mdl-button mdl-js-button">
					{% trans 'Edit' %}
				</button>
			</a>
			{% endblock top-buttons %}
		</div>
	</div>
</div>
{% endblock toolbar %}

{% block rm-content %}
<div class="rm-grid--center mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<div class="rm-app-header">
			<img src="{{ app.icon.url }}" alt="Repo Icon" class="rm-icon"/>
			<div class="rm-app-primary-content">
				<h2 class="rm-app-title">{{ app.name }}</h2>
				{% block author %}
				{% if app.author_name %}
				<div class="rm-app-author">
					{% blocktrans with author=app.author_name trimmed %}
					By {{ author }}
					{% endblocktrans %}
				</div>
				{% endif %}
				{% endblock author %}
			</div>
			<div class="rm-app-secondary-content">
				{% if app.get_latest_version %}
				<div class="rm-app-version">
					Version: {{ app.get_latest_version.version_name }}
				</div>
				{% endif %}
				<div class="rm-app-last-time-updated">
					{# time is e.g. '6 days' and will be translated automatically #}
					{% blocktrans with time=app.last_updated_date|timesince trimmed %}
					Updated {{ time }} ago
					{% endblocktrans %}
				</div>
			</div>
		</div>
		<div class="rm-app-summary-category">
			{% block summary %}<div class="rm-app-summary">{{ app.summary }}</div>{% endblock summary %}
			{% block categories %}
			{% if app.category.exists %}
			{% for category in app.category.all %}
			<span class="rm-app-category-chip mdl-chip">
				<span class="rm-app-category-text mdl-chip__text">{{ category }}</span>
			</span>
			{% endfor %}
			{% endif %}
			{% endblock categories %}
		</div>
	</div>
</div>
{% block screenshots %}
{% if form or app.screenshot_set.exists %}
<div class="rm-grid--center mdl-grid">
	{% block screenshot-header %}{% endblock screenshot-header %}
	<div class="rm-app-screenshots mdl-cell mdl-cell--8-col">
		{% block screenshot-drop %}{% endblock screenshot-drop %}
		{% for screenshot in app.screenshot_set.all %}
		<div class="rm-app-screenshot">
			{% block screenshot-delete %}{% endblock screenshot-delete %}
			<img src="{{ screenshot.get_url }}"/>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock screenshots %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-description mdl-cell mdl-cell--6-col">
		{% block description %}
		{{ app.description|safe }}
		{% endblock description %}
	</div>
</div>
{% block apks %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-versions mdl-cell mdl-cell--6-col">
		<h4 class="rm-app-section">
			{% trans 'version history' %}
		</h4>
		{% block apk-drop %}{% endblock apk-drop %}
		{% if apks %}
		<ul class="rm-app-versions-list mdl-list">
			{% for pointer in apks %}
			<li class="rm-app-versions-item mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<span>
						{% blocktrans with version=pointer.apk.version_name code=pointer.apk.version_code trimmed %}
						Version {{ version }} ({{ code }})
						{% endblocktrans %}
					</span>
					{% if pointer.file %}
					<span class="mdl-list__item-sub-title">
						{% blocktrans with date=pointer.apk.added_date|date:"DATE_FORMAT" trimmed %}
						Released {{ date }}
						{% endblocktrans %}
					</span>
					{% else %}
					<span class="mdl-list__item-sub-title">
						<!-- TODO: Use progress bar instead and reload when download done -->
						{% trans 'APK is still downloading...' %}
					</span>
					{% endif %}
				</span>
				{% block apk-delete %}{% endblock apk-delete %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>{% trans 'This app has no APK files.' %}</p>
		<p>{% trans 'If you added this app from a remote repo, try deleting it and adding it again.' %}</p>
		{% endif %}
	</div>
</div>
{% endblock apks %}
<div class="rm-app-navigation mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
	{% if app.get_previous %}
	<a href="{% block prev-url %}{{ app.get_previous.get_absolute_url }}{% endblock %}"
	   class="rm-app-navigation-previous">
		<i class="material-icons">arrow_back</i>
		<h3 class="rm-app-navigation-previous-text">{% trans 'Previous' %}</h3>
	</a>
	{% endif %}
	</div>
	<div class="mdl-cell mdl-cell--6-col">
	{% if app.get_next %}
	<a href="{% block next-url %}{{ app.get_next.get_absolute_url }}{% endblock %}"
	   class="rm-app-navigation-next">
		<i class="material-icons">arrow_forward</i>
		<h3 class="rm-app-navigation-next-text">{% trans 'Next' %}</h3>
	</a>
	{% endif %}
	</div>
</div>
{% block page-footer %}{% endblock page-footer %}
{% endblock rm-content %}
