{% load i18n %}
{% if not clickable or repo_page %}
<div class="rm-app-card{% if no_hover or app.added %}--no-hover{% endif %} mdl-cell mdl-cell--{{ width }}-col
			mdl-card mdl-shadow--2dp mdl-color--white"
	 {% block rm-app-card-attributes %}{% endblock rm-app-card-attributes %}>
{% else %}
<a href="{{ url }}"
   class="rm-app-card mdl-cell mdl-cell--{{ width }}-col mdl-card mdl-shadow--2dp mdl-color--white rm-no-underline">
{% endif %}
	<div class="rm-app-card-left"
		 style="background-image: url({% if repo_page %}icons-640/{{ app.get_icon_basename }}{% else %}{{ app.icon.url }}{% endif %})">
	</div>
	<div class="rm-app-card-right">
		<div class="rm-app-card-title">{{ app.name }}</div>
		<div class="rm-app-card-summary">{{ app.summary }}</div>
		<div class="rm-app-card-description">{{ app.description|striptags|truncatechars:168 }}</div>
		{% block rm-app-card-right %}{% endblock rm-app-card-right %}
		{% if app.get_latest_version %}
		<div class="rm-app-card-updated">
			{% blocktrans with version=app.get_latest_version.version_name date=app.get_latest_version.added_date|date:"DATE_FORMAT" trimmed %}
			Version {{ version }} ({{ date }})
			{% endblocktrans %}
		</div>
		{% endif %}
	</div>
{% if clickable and not repo_page %}
</a>
{% else %}
</div>
{% endif %}
