<!DOCTYPE html>
{% load sass_tags %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ repo.name }}</title>
	<link href="{% sass_src 'maker/css/repo/page.scss' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">

	<header class="{% block header-classes %}{% endblock %} mdl-layout__header mdl-layout__header--waterfall">
		<div class="mdl-layout__header-row">
			{% block header %}{% endblock header %}
		</div>
	</header>

	<main class="mdl-layout__content">
		{% block content %}{% endblock content %}
	</main>
</div>

{% block footer %}{% endblock footer %}

</body>
</html>
