{% extends 'maker/repo_page/base.html' %}

{% block header-classes %}repo-header{% endblock header-classes %}

{% block header %}
<div class="mdl-layout-title">
	<span class="only-desktop">
		To install these apps on your Android phone, add them to F-Droid.
		<a href="https://f-droid.org" target="_blank">Get F-Droid</a>
	</span>

	<div id="repo-buttons-add">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored only-mobile"
				onclick="showInstallButtons()">
			Add to F-Droid
		</button>
	</div>
	<a href="assets/qr_code.html" class="rm-no-underline only-desktop">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
			Add to F-Droid
		</button>
	</a>
	<div id="repo-buttons-install" class="only-mobile">
		<a href="https://f-droid.org" target="_blank" class="rm-no-underline">
			<button id="repo-buttons-install-need"
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
				I need F-Droid
			</button>
		</a>
		<a href="{{ repo.get_mobile_url }}" class="repo-buttons-install-have">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
					onclick="addRepo()">
				I have F-Droid
			</button>
		</a>
	</div>
</div>

<nav class="mdl-navigation">
	{% with text='Check out this F-Droid repo: '|add:repo.name url=repo.get_fingerprint_url %}
	<a href="https://twitter.com/intent/tweet?text={{ text|urlencode }}&url={{ url|urlencode }}"
	   target="_blank">
		<img src="assets/twitter.png"/>
	</a>
	{% endwith %}
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ repo.get_fingerprint_url|urlencode }}"
	   target="_blank">
		<img src="assets/facebook.png"/>
	</a>
</nav>
{% endblock header %}

{% block content %}
		<section class="mdl-grid mdl-cell--10-col">
			<div class="mdl-cell mdl-cell--12-col repo-content">
				<h3>{{ repo.name }}</h3>
				<p>{{ repo.description }}</p>
			</div>
			{% for app in repo.app_set.all %}
			{% include "maker/widgets/app.html" with repo_page=True width=6 no_hover=True %}
			{% endfor %}
		</section>
		<footer class="mdl-mega-footer" id="f-droid">
			<div class="mdl-mega-footer__top-section mdl-grid">
				{% include 'maker/repo_page/fdroid.html' with assets='assets/' %}
			</div>
			<div class="mdl-mega-footer__bottom-section">
				<span class="repo-made-with">Made with ❤ using repomaker.</span>
				Create your own collections to share at
				<a href="https://gitlab.com/fdroid/repomaker">f-droid.org/repomaker</a>.
			</div>
		</footer>
{% endblock content %}

{% block footer %}
<script src="material.min.js"></script>
<script type="text/javascript">
	var add = document.getElementById('repo-buttons-add');
	var install = document.getElementById('repo-buttons-install');
	add.style.display = 'inline-block';
	install.style.display = 'none';
	function showInstallButtons() {
		add.style.display = 'none';
		install.style.display = 'inline-block';
	}
	function addRepo() {
		add.style.display = 'inline-block';
		install.style.display = 'none';
	}
</script>
{% endblock footer %}
